#game {
    width: 75%;
    height: 75%;
    top: 12.5%;
    left: 12.5%;
    border: 10px solid black;
    position: absolute;
    image-rendering: pixelated;
}
#score{
    background-color: chartreuse;
    position: absolute;
    border-radius: 5px;
    padding: 10px;
}

#highscore{
    background-color: rgb(177, 247, 107);
    position: absolute;
    border-radius: 5px;
    padding: 10px;
    top: 100px;
    left: 10px;
}

#speedrun-clock{
    background-color: rgb(0, 255, 153);
    position: absolute;
    border-radius: 5px;
    padding: 10px;
    top: 100px;
    right: 10px;
}

css
:root {
  --background-color: #f0f0f0;
  --text-color: #333;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

body.dark-mode {
  --background-color: #333;
  --text-color: #f0f0f0;
}

#dark-mode-toggle {
  position: absolute;
  top: 20px;
  left:50%;  
}